@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
	font-family: 'Pretendard-Regular';
}

.page{
	background-color: white;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 980px;
    height: 100%;
    border-radius: 0.5%;

    display: flex;
}

.left_box{
	display: flex;
	flex-direction: column;

	flex: 0.25;
	margin: 10px;
}

.Photo{
	background-color: #dddcdc;
	flex : 0.95;
	border-radius: 1%;

	display: flex;
	flex-direction: column;
    font-size: x-large;
}

.Photo-Button{
	position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    font-family: 'Pretendard-Regular';
    font-weight: 600;

    background-color: aliceblue;
 	color: #1e6b7b;
	width: 200px;
	height : 50px;
	margin : 10px;
}

.Select-image {
    width: 200px;
    height: 200px;
    margin: 5px;
}

.main_box{
	display: flex;
	flex-direction: column;
	flex: 0.65;
}

.main_screen{
	background-color: white;
}

.upper-content {
    flex: 1;
    font-size: 50px;
    margin: 10px 20px;
}


.text-title{
	text-align : center;
	position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    font-weight: 600;
    background-color: #F5F5F5;
	width: 100px;
	height : 100px;
	margin-bottom : 20px;
}

.button_Change{
	position: absolute;
	right: 10px;
	bottom: 50px;
}

.button_Change_img{
	width: 80px;
    height: 80px;
    font-size: 50px;
    margin-right: 50px;
}

:root {
    --bgColor: #696969;
    --hoverBg: #aaaaaa;
    --text: rgb(252, 252, 252);
  }
  
  .container {
    width: clamp(0px, 100%, 512px);
    margin: 32px auto;
    text-align: center;
  }
  
  .label {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    cursor: pointer;
    background-color: var(--bgColor);
  }
  
  .inner {
    width: 100%;
    height: 128px;
    margin: 64px auto;
    border-radius: 8px;
    font-size: 16px;
    line-height: 128px;
    background-color: var(--bgColor);
    color: var(--text);
  }
  
  @media (any-hover: hover){
    .inner:hover{
      background-color: var(--hoverBg);
    }
  }
  
  .label--hover{
    background-color: var(--hoverBg);
  }
  
  .preview-title{
    font-size: 32px;
    margin-bottom: 8px;
  }
  
  .preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    align-items: center;
    background-color: var(--bgColor);
  }
  
  .embed-img{
    width: 100%;
    height: 128px;
    object-position: center;
    object-fit: cover;
    border-radius: 8px;
  }