<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>프로필 설정</title>
	<link rel="stylesheet" href="../static/css/style_vf.css"/>
</head>

<body>
	<div class = "sidebar">
		<div class = "header-text">기본 프로필 관리</div>
		<div class = "whole">
		
			<div class = "profile">
				

				<input id="input" class="input" accept="image/*" type="file" required="true" multiple="true" hidden="true">
					<div class="preview" id="preview"></div>
					<label class="label" id="label" for="input">
						<div class="inner" id="inner">
							<div class = "profile-img-box"> 
								<img float = "center" class = "profile-img" style = "opacity:1" onmouseover="this.style.opacity='0.5'" onmouseout ="this.style.opacity='1'" src="{{url_for('static', filename = profileIMG)}}">
							</div>
						</div>
					</label>
					<script src="{{url_for('static', filename='js/profile_image.js')}}"></script>


					<div class = "profile-box">
					<form method="POST" >  
					{{form.csrf_token}}
					닉네임
					{{form.username(id="username")}}
					<br>
					상태 메세지
					{{form.stateM(id="stateM")}}
					<br>
						<button class = "modify-button" type="submit">완료</button>
					</form>
				</div>
			</div>
		

		<hr width="100%">
	</div>
</div>
</body>
</html>