<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>염색 옵션 선택 시</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body onscroll="scroll()">
	<div class="layerPopup">
		<div class="spinner">
			<img class="loading" src="{{url_for('static',filename='images/loadingHair.gif')}}">
		</div>
	</div>

	<div class = "page">
	<div class = "left_box" id="leftBox">
		<div class="Photo">
			<button class = "Photo-Button" onClick="location.href='/select_image'">사진 업로드</button>
			<img class="Select-image" id="selectImg" onerror = "this.style.display='none'">
		</div>
	</div>

<div class = "main_box">
	<div class="main_screen">
		<div class="upper-content">
		<form method = "post">
			<div class="text-title">염색</div><br>
			<label><input type="radio" name="face_expression" value = "1" onclick="drawImg(event)"> <img class = "imgs" src="{{url_for('static', filename = 'images/hair_option1.png')}}"></label><br>
			<label><input type="radio" name="face_expression" value = "2" onclick="drawImg(event)"> <img class = "imgs" src="{{url_for('static', filename = 'images/hair_option2.png')}}"></label><br>
			<label><input type="radio" name="face_expression" value = "3" onclick="drawImg(event)"> <img class = "imgs" src="{{url_for('static', filename = 'images/hair_option3.png')}}"></label><br>
		</form>
		</div>
	</div>
</div>
</div>

<div id = "button_Bottom">
<img class="button_Bottom_img" id="next-image" onclick="showAlert()"></img>
</div>
</body>
</html>


<script>
var nextImage = document.getElementById("next-image");
var selectImage = document.getElementById("selectImg");
window.onload = function() {
	scroll();
	try{selectImage.src="{{url_for('static', filename = 'images/input/imageTemp.jpg')}}"}
	catch{selectImage.src=null};
	console.log(selectImage.src);
}

window.onresize = function(event){
	scroll();
}

function scroll() {
  var nVScroll = document.documentElement.scrollTop || document.body.scrollTop;
  var windowSize = window.innerHeight;
  var btnBottom = document.getElementById("button_Bottom");
  var leftbox = document.getElementById("leftBox");

  btnBottom.style.bottom=-nVScroll + 10 +"px";
  leftbox.style.height = 1311 / windowSize * 100 +"%";
}

function drawImg(event) {
	nextImage.style.display='block';
    nextImage.src = "{{url_for('static', filename = 'images/button_Bottom_img.png')}}";
	
	if(selectImage.style.display!='none') {
		nextImage.onclick=null;
		nextImage.addEventListener("click", function() {
			document.getElementsByClassName('layerPopup')[0].style.display='block';
			let hairOption = event.target.value;
            window.location.href = "/run_model?option=" + hairOption;
		});
	}
}

function showAlert() {
	alert('사진을 업로드해주세요');
}
</script>