<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>만화화 옵션 선택</title>
	<link rel="stylesheet" href="../static/css/style_Option.css">
</head>

<body  onscroll="scroll()">
	<div class = "page">
	<div class = "left_box" id="leftBox">
		<div class="Photo">
			<button class = "Photo-Button">사진 업로드</button>
			<img class="Select-image" id="select-image">
		</div>
	</div>

<div class = "main_box">
	<div class="main_screen">
		<div class="upper-content">
		<form>
			<div class="text-title">만화화</div><br>
			<input type="radio" name="cartoonize" id="cartoon1" value = "1" onclick="drawImg(this)"><label for="cartoon1"><div class ="select-cartoon"><img src="{{url_for('static', filename = 'images/disney.jpg')}}"></div></label>
			<input type="radio" name="cartoonize" id="cartoon2" value = "2" onclick="drawImg(this)"><label for="cartoon2"><div class ="select-cartoon"><img src="{{url_for('static', filename = 'images/ghibli.jpg')}}"></div></label>
			<input type="radio" name="cartoonize" id="cartoon3" value = "3" onclick="drawImg(this)"><label for="cartoon3"><div class ="select-cartoon"><img src="{{url_for('static', filename = 'images/pixar.jpg')}}"></div></label><br>
		</form>
		</div>
	</div>
</div>

<div id = "button_Bottom">
	<img class="button_Bottom_img" id="next-image" src="{{url_for('static', filename = 'images/button_Bottom_img.png')}}">
</div>
</div>
</body>
</html>

<script>
function drawImg(obj) {
	var selectImage = document.getElementById("select-image");
    var nextImage = document.getElementById("next-image");
    //nextImage.src = "{{url_for('static', filename = 'images/button_Bottom_img.png')}}"
    

    switch(obj.id){
        case "cartoon1" :
        	selectImage.src = "{{url_for('static', filename = 'images/disney.jpg')}}";
            break;
        case "cartoon2" :
        	selectImage.src = "{{url_for('static', filename = 'images/ghibli.jpg')}}";
            break;
        case "cartoon3" :
        	selectImage.src = "{{url_for('static', filename = 'images/pixar.jpg')}}";
            break;
    }
}

function scroll() {
  var nVScroll = document.documentElement.scrollTop || document.body.scrollTop;
  var windowSize = window.innerHeight;
  var btnBottom = document.getElementById("button_Bottom");
  var leftbox = document.getElementById("leftBox");

  btnBottom.style.bottom=-nVScroll + 10 +"px";
  leftbox.style.height = 1311 / windowSize * 100 +"%";
}
</script>