<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>환경 설정</title>
	<link rel="stylesheet" href="../static/css/settingStyle.css"/>
</head>

<body>
	<div class="sidebar">
		<div class="header-text">환경 설정</div>
		<div class="whole">
			<div class="setting-account">
				<div class="setting-title">계정</div> <br>
				<div class="setting-content" onclick="location.href='#.html'">프로필 수정</div> <hr width="100%">
				<div class="setting-content" onclick="location.href='#.html'">비밀번호 변경</div> <hr width="100%">
				<div class="setting-content" onclick="location.href='#.html'">연결된 계정</div> <hr width="100%">
				<div class="setting-content" onclick="location.href='#.html'">알림설정</div> <hr width="100%">
			</div>
		
			<div class="setting-support">
				<div class="setting-title" onclick="location.href='#.html'">지원</div> <br>
				<div class="setting-content" onclick="location.href='#.html'">공지사항</div> <hr width="100%">
				<div class="setting-content" onclick="location.href='#.html'">문의하기</div> <hr width="100%">
			</div>
		</div>
	</div>
</body>
</html>