<!DOCTYPE html>
<!--www.codingflicks.com--> 
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign Up</title>
	<link href="../static/css/style1.css" rel="stylesheet">
</head>
<body>
	<div class="form-box">
		<div class="header-text">
			Sign Up Form
		</div>
    <input placeholder="User name" type="text" id="name"> <button>Check</button>
    <input placeholder="User id" type="text" id="id"> <button>Check</button>
    <input placeholder="Your Password" type="password" id="pw"> 
    <input placeholder="Check Your Password" type="password" id="repw"> 
    
    <button style="width:193px; margin:5px 5px 5px 5px; margin-top:30px;" onclick="SignUpBtn()">Sign Up</button>
    <button style="width:193px; margin:5px 5px 5px 5px; margin-top:30px;" onclick="ResetBtn()">Reset</button>
	</div>
</body>
</html>

<script>
	function ResetBtn(){
		document.getElementById("name").value=null;
    	document.getElementById("id").value=null;
    	document.getElementById("pw").value=null;
    	document.getElementById("repw").value=null;
	}

	function SignUpBtn(){
		location.href = '/main';
	}
</script>